@font-face {
  font-family: "Chiaroscura TRIAL";
  src: url(../ChiaroscuraFont/ChiaroscuraTRIAL-Bd.otf) format("otf");
  src: url(../ChiaroscuraFont/ChiaroscuraTRIAL-Blk.otf) format("otf");
  src: url(../ChiaroscuraFont/ChiaroscuraTRIAL-Lt.otf) format("otf");
  src: url(../ChiaroscuraFont/ChiaroscuraTRIAL-Md.otf) format("otf");
  src: url(../ChiaroscuraFont/ChiaroscuraTRIAL-Rg.otf) format("otf");
  src: url(../ChiaroscuraFont/ChiaroscuraTRIAL-SmBd.otf) format("otf");
}
