$bgPrimary: #F9F4FF;
$bgSecondary: #6837EE;
$buttonBgPrimary: #5803F3;
$buttonBgSecondary: #F9F4FF;
$buttonBgTertiary: #FD5E0D;
$textPrimaryColor: #4D4D4D;
$textSecondaryColor: #2C2C2C;
$textTertiaryColor: #292929;
$placeHolderColor: #A3A3A3;
$boxShadowColor: #0000001a;
